.tdEdit {
  width: 150px;
  height: 150px;
  background-color: tomato;
  font-size: 60px;
}
.tableGame {
  /* display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
   */
}
h1 {
  text-align: center;
  color: sienna;
  font-size: 40px;
}
.info {
  display: flex;
  justify-content: center;
}
.player1 {
  margin-right: 10%;
}
section {
  color: red;
}

.line1 {
  border: 2px solid white;
  position: absolute;
  width: 25%;
  top: 17%;
  z-index: 1;
  /* transform: rotate(90deg); */
}
.line2 {
  border: 2px solid white;
  position: absolute;
  width: 25%;
  top: 50%;
  z-index: 1;
  /* transform: rotate(90deg); */
}
.line3 {
  border: 2px solid white;
  position: absolute;
  width: 25%;
  top: 70.7%;
  z-index: 1;
  /* transform: rotate(90deg); */
}
.col1 {
  border: 2px solid white;
  position: absolute;
  left: 28.2%;
  width: 25%;
  top: 52%;
  z-index: 1;
  transform: rotate(90deg);
}
.col2 {
  border: 2px solid white;
  position: absolute;
  left: 37.4%;
  width: 25%;
  top: 52%;
  z-index: 1;
  transform: rotate(90deg);
}
.col3 {
  border: 2px solid white;
  position: absolute;
  left: 46.6%;
  width: 25%;
  top: 52%;
  z-index: 1;
  transform: rotate(90deg);
}
.rgiht_Diagonal {
  border: 2px solid white;
  position: absolute;
  left: 32%;
  width: 35%;
  top: 52%;
  z-index: 1;
  transform: rotate(45deg);
}
.left_Diagonal {
  border: 2px solid white;
  position: absolute;
  left: 32.7%;
  width: 35%;
  top: 52%;
  z-index: 1;
  background-color: tan;
  transform: rotate(135deg);
}
.win {
  display: flex;
  justify-content: center;
}

.parent {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
}

body {
  background-color: black;
}

@media (max-width: 1024px) {
  .line1,
  .line2,
  .line3 {
    width: 45%;
  }
  .col1,
  .col2,
  .col3 {
    left: 17%;
    width: 36%;
    top: 50%;
  }
  .col2 {
    left: 32%;
  }
  .col3 {
    left: 47%;
  }
  .rgiht_Diagonal {
    left: 32%;
    width: 35%;
    top: 52%;
  }
  .left_Diagonal {
    left: 23.7%;
    width: 50%;
    top: 52%;
    /* transform: rotate(135deg); */
  }
}
@media (max-width: 425px) {
  .line1,
  .line2,
  .line3 {
    width: 70%;
  }
  .col1,
  .col2,
  .col3 {
    left: -30%;
    width: 93%;
    top: 50%;
  }
  .col2 {
    left: 3%;
  }
  .col3 {
    left: 36%;
  }
  .rgiht_Diagonal {
    left: 0%;
    width: 100%;
    top: 50%;
    transform: rotate(47deg);
  }
  .left_Diagonal {
    left: 1.7%;
    width: 100%;
    top: 48%;
    transform: rotate(132deg);
  }
}
@media (max-width: 320) {
.left_Diagonal {
    left: 1.7%;
    width: 100%;
    top: 48%;
    transform: rotate(132deg);
  }
  .rgiht_Diagonal {
    left: 0%;
    width: 100%;
    top: 50%;
    transform: rotate(47deg);
  }
}
